<nav>
    <div class="user-info">
        <span *ngIf="isAdmin; else userInfo">Acting as admin</span>
        <ng-template #userInfo>{{ user?.profile?.firstname }} {{ user?.profile?.lastname?.[0] }}.</ng-template>
    </div>
    <a routerLink="/home-announcements">
        <h1 class="link">Home</h1>
    </a>
    <a *ngIf="isAdmin" routerLink="/company">
        <h1 class="link">Company</h1>
    </a>
    <a routerLink="/teams">
        <h1 class="link">Teams</h1>
    </a>
    <a *ngIf="isAdmin" routerLink="/users-reg">
        <h1 class="link">Users</h1>
    </a>
    <a routerLink="/login">
        <h1 class="link">Logout</h1>
    </a>
</nav>