<nav>
    <img class="" src="../../assets/images/login_icon.png" alt=""/>
    <div class="user-info">
        <span *ngIf="isAdmin; else userInfo">Acting as admin</span>
        <ng-template #userInfo>{{ user?.profile?.firstname }} {{ user?.profile?.lastname?.[0] }}.</ng-template>
    </div>
    <a routerLink="/home-announcements">
        Home
    </a>
    <a *ngIf="isAdmin" routerLink="/select-company">
        <h1 class="link">Company</h1>
    </a>
    <a routerLink="/teams">
        Teams
    </a>
    <a *ngIf="isAdmin" routerLink="/users-reg">
        Users
    </a>
    <a routerLink="/login" (click) = "logout()">
        <h1 class="link">Logout</h1>
    </a>
</nav>